/.idea
/.vagrant
/.grunt
/.tscache

/src
/test
/typings
/scratch

/tsd.json
/tslint.json
/Vagrantfile
/Gruntfile.js

.npmignore
.gitignore
.gitmodules
.gitattributes

.travis.yml
.jshintrc
.vagrant
.editorconfig

/tscommand*
ignoreBaseDirFile.*
.tscache
tmp/

/*.tgz
/*.txt
